body {
    font-family: Arial, sans-serif;
    background-color: #C7C7BF;
}

.container {
    background-color: #03BEF3;
    width: 1200px; 
    margin: 0 auto; 
}

.common {
    background-color: #BCE784;
}


.logo {
    width: 20%;
    height: 200px;
    border-radius: 50%;
}

header, footer {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    padding: 5px;
}

nav a:active, nav a:hover, nav a:visited, nav a:link {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    font-weight: bold;
    background-color: #cccccc;
    text-decoration: underline;
}

#CatEyes {
    width: 100%;
    height: 500px;
}

#Bob {
    background-color: #C6458E;
}

#Sam {
    background-color: #FFAD3D; 
}

#Tim {
    background-color: #FFFF00;
}

#Common {
    background-color: #A1F100;
}

#Stuggles {
    width: 1200px; 
    margin: 0 auto
}

#News {
    width: 1200px; 
    margin: 0 auto;
}

#Comments {
     width: 1200px; 
    margin: 0 auto
}

#Baby {
width: 30%;
    height: 500px;
}

#Family {
width: 30%;
    height: 500px;
}

#Four {
width: 30%;
    height: 500px;
}

#Me {
width: 50%;
    height: 500px;
    margin: 0 auto;
}

footer {
    font-size: 10px;
    padding: 5px 0;
}

main {
    font-size: 30px;
    font-style: arial;
    padding: 10px;
    display: inline, center;
    margin: 0 auto;

}